<% provide(:title, 'About') %>
<h1>Hilfe</h1>
<p>Das Prinzip ist ganz einfach. Klick dich durch die Shops und sieh dir ihre Produktpalette an. Wenn dir was gefällt klick drauf um mehr über das Teil zu erfahren und es zu kaufen.</p>
